body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #11537e;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  text-align: center;
  width: 700px;
  margin: 10% auto;
}
.App p {
  padding: 17px 0px 0px;
  font-family: cursive;
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.item {
  background-color: white;
  color: #11537e;
}
.item span {
  display: inline-block;
  padding: 10px;
  font-weight: 600;
  border: 1px #0000002e solid;
}
.item p {
  color: #03a9f4;
  margin: 0px;
  padding: 10px;
}
.item .name,
form input[type="text"] {
  width: 55%;
}
.item .age,
form input[type="number"] {
  width: 25%;
}
.item .x,
form input[type="submit"] {
  width: 20%;
}
.item .title {
  background-color: #41a8eb;
  color: white;
  font-size: 22px;
  font-family: -webkit-body;
}

form input[type="submit"],
input[type="number"],
input[type="text"] {
  min-height: 38px;
  background-color: #e9e9e9;

  border: 1px #0000002e solid;
}
form input[type="submit"] {
  color: white;
  cursor: pointer;
  background-color: #1d7bb9;
  font-weight: 700;
}
.item .icon {
  color: #b74d4d;
  cursor: pointer;
  font-weight: bold;
}
.item .icon:hover {
  color: red;
}
@media (max-width: 400px) {
  .App {
    width: 100%;
  }
}
